
header{
    background: rgb(190, 41, 41);
}

.logo{
    width: 200px;
    padding: 10px;
}

#divLogo{
    float: inline-start;
    width: auto;
}

.menu1{
    top: 17px;
    left: 30%;
}

.menu1 a{
    color: black;
    font-size: large;
}

.lancamentos{
    background: rgb(59, 59, 59);
    color: white;
    padding: 20px;
}

.lancamentos h1{
    text-align: center;
    margin-bottom: 25px;
}

.itens{
    margin-right: 15px;
}

.destaque{
    background: gray;
    padding: 20px;
    padding-bottom: 0px;
}

.destaque img{
    margin-bottom: 30px;
}

.avaliacoes{
    background: gray;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.avaliacoes h1{
    margin-bottom: 20px;
}

.entrevistas{
    background: rgb(59, 59, 59);
    color: white;
    padding: 20px;
    padding-bottom: 0px;
}

.entrevistas h1{
    margin-bottom: 20px;
}

.entrevista-info{
    padding-bottom: 20px;
}

.entrevista-info p{
    margin: 5px;
}

.novidades{
    background: gray;
    padding: 20px;
}

.footer{
    background:rgb(190, 41, 41);
    padding: 20px;
}



iframe{
    width: 100%;
    margin-bottom: 15px;
}

.negrito{
    font-weight: bold;
}

.artigo-img{
    width: 20%;
    display: inline !important;
    vertical-align: top;
}

.artigo{
    display: inline-block !important;
    
}

.full{
    width: 100%;
}

